video {
    display: block;
    width: 640px!important;
    height: 480px!important;
    cursor: pointer;
}

audio {
    display: inline-block;
    vertical-align: middle;
    background-color: var(--color-name-japanese-水がき);
    margin: 1px;
}