article {
    margin: 1rem auto 2rem auto;
    padding: 20px;
    background-color: antiquewhite;
    border: 1px solid lightgray;
    box-sizing: border-box;
    box-shadow: 0.5rem 0.5rem 0.75rem dimgray;
}

article header {
    box-sizing: border-box;
    width: 100%;
    min-height: 2rem;
    padding: 0;
}

article.bulletin,
article.comment,
article.message {
    background-color: whitesmoke;
    box-sizing: border-box;
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid dimgray;
}

article.bulletin {
    box-shadow: 0.25rem 0.25rem 0.5rem dimgray;
}

article.comment {
    box-shadow: none;
    border: 1px solid gray;
}

article.bulletin p,
article.comment p,
article.message p {
    text-indent: 0;
    line-height: 1.75rem;
}

article.bulletin header,
article.comment header {
    border-bottom: 1px solid lightgray;
}

article.bulletin header time,
article.comment header time {
    float: right;
}

article.bulletin footer {
    box-sizing: border-box;
    width: 100%;
    border-top: 1px dashed lightgray;
    min-height: 2rem;
    text-align: left;
    margin: 0;
    padding: 0.25rem 1rem;
    color: dimgray;
}

article.bulletin footer p {
    margin: 0;
    padding: 0;
    font-size: small;
}

article.message {
    border: 1px solid dimgray;
    box-shadow: none;
    margin: 0.5rem auto;
    background-color: white;
}

article.message > header > abbr {
    border-bottom: 1px dashed gray;
    border-right: 1px dashed gray;
    padding: 0.5rem;
}

header.myself::before {
    content: url(../IMG/icon_small.svg);
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
}

header.nt-simplified::before {
    content: url(../DATA/20210303-001-004_NT_icon.png);
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
}

header.nt-traditional::before {
    content: url(../DATA/20210303-001-003_Novgorod-Today_icon.png);
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
}

header.kt-simplified::before {
    content: url(../DATA/20210312-001-004_KT_icon.png);
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
}

header.kt-traditional::before {
    content: url(../DATA/20210312-001-003_Kazan-Today_icon.png);
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
}

article.bulletin article.bulletin,
article.comment article.bulletin,
article.comment article.comment {
    background-color: whitesmoke;
}

section {
    background: transparent;
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    margin: 1rem auto;
    padding: 1rem auto;
}

blockquote {
    box-sizing: border-box;
    background-color: whitesmoke;
    border-left: 0.5rem solid;
    border-color: lightgray;
    margin: 1rem;
    padding: 1rem;
}

blockquote.pink {
    background-color: #fcf2f2;
    border-color: #dfb5b4;
}

blockquote.cyan {
    background-color: #def;
    border-color: #8ccbf2;
}

blockquote.lime {
    background-color: #cdf7cd;
    border-color: #00a500;
}

blockquote.grun {
    background-color: #e9fbe9;
    border-color: #52e052;
}

blockquote.yelo {
    background-color: #faf4d2;
    border-color: #e0cb52;
}

blockquote.emphasis {
    background-color: beige;
    border: 1px solid lightgray;
}

blockquote.inside {
    background: honeydew;
    border: 1px solid lightgray;
}

blockquote.outside {
    background: mintcream;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
}

blockquote.article {
    background: antiquewhite;
    border: 1px solid lightgray;
}

blockquote.description {
    background: transparent;
    border: none;
    margin: 1rem;
    padding: 0;
}

.poem p,
.lyrics p {
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
    text-indent: 1rem;
}

summary.caption {
    font-family: fangsong;
    font-size: 150%;
    font-weight: bolder;
    text-align: center;
}

/* 「截图」「扫描」「摄影」「录像」「摘抄」 */
details.snap {
    /* background-color: white; */
    padding: 10px;
    border-left: 5px solid teal;
    border-right: 5px solid teal;
    border-radius: 10px;
}

details.snap[open] {
    border-bottom: 1px solid teal;
}

details.snap summary {
    color: teal;
    border-bottom: 3px double teal;
}

/* 「个人码字内容」 */
details.mine {
    background-color: white;
    padding: 10px;
    border-left: 5px solid darkorange;
    border-right: 5px solid darkorange;
    border-radius: 10px;
}
details.mine[open] {
    border-bottom: 1px solid darkorange;
}
details.mine summary {
    color: darkorange;
    border-bottom: 3px double darkorange;
}

/* 「告示牌」“Admonition”“Callout Box” */
details.callout {
    background-color: rgb(32, 32, 32);
    color: rgb(223, 223, 223);
    margin: 1rem auto;
    /* padding: 1rem; */
    border-top: 1px dashed dimgray;
    border-bottom: 1px dashed dimgray;
    border-left: 5px solid dimgray;
    border-right: 5px solid dimgray;
    border-radius: 10px;
}
details.callout q {
    color: lightblue;
}
details.callout q::before,
details.callout q::after {
    color: lightpink;
}
details.callout s {
    background-color: dimgray;
}
details.callout span.math {
    color: cyan;
}
details.callout cite {
    border-bottom-color: cyan;
}
details.callout dfn {
    border-bottom-color: lightcyan;
}
details.callout abbr {
    border-bottom-color: white;
}
details.callout abbr.who {
    border-bottom-color: red;
}
details.callout abbr.where {
    border-bottom-color: lightblue;
}
details.callout abbr.pseudo {
    border-bottom-color: lightgreen;
}
details.callout blockquote {
    background-color: transparent;
    border-top: 1px dashed;
    border-bottom: 1px dotted;
}
details.callout p {
    margin: 1rem;
}
details.callout strong {
    color: lightcoral;
}
details.callout em {
    color: lightskyblue;
}
details.callout ins {
    color: hotpink;
}
details.callout a {
    color: lightseagreen;
}
details.callout a:hover {
    background-color: lightseagreen;
    color: lime;
}
details.callout a.alone {
    background-color: darkslategray;
    color: lightseagreen;
}
details.callout a.alone:hover {
    background-color: darkgreen;
    color: lime;
}
details.callout > summary {
    color: white;
    min-height: 2rem;
    margin: 0;
    padding: 1rem;
    border-bottom: 3px double lightgray;
}
details.callout > summary::before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
}
details.callout > summary.ad-note {
    background-color: #444d6a;
    border-color: #4287ff;
}
details.callout > summary.ad-note::before {
    content: url(../IMG/callout/ad-note.svg);
}
details.callout > summary.ad-tldr {
    background-color: #3d526b;
    border-color: #00aeff;
}
details.callout > summary.ad-tldr::before {
    content: url(../IMG/callout/ad-tldr.svg);
}
details.callout > summary.ad-info {
    background-color: #3c5267;
    border-color: #00bad6;
}
details.callout > summary.ad-info::before {
    content: url(../IMG/callout/ad-info.svg);
}
details.callout > summary.ad-hint {
    background-color: #3d5361;
    border-color: #00bda4;
}
details.callout > summary.ad-hint::before {
    content: url(../IMG/callout/ad-hint.svg);
}
details.callout > summary.ad-done {
    background-color: #3c5458;
    border-color: #00c753;
}
details.callout > summary.ad-done::before {
    content: url(../IMG/callout/ad-done.svg);
}
details.callout > summary.ad-question {
    background-color: #475753;
    border-color: #63de17;
}
details.callout > summary.ad-question::before {
    content: url(../IMG/callout/ad-question.svg);
}
details.callout > summary.ad-warning {
    background-color: #585052;
    border-color: #ff9100;
}
details.callout > summary.ad-warning::before {
    content: url(../IMG/callout/ad-warning.svg);
}
details.callout > summary.ad-fail {
    background-color: #58495b;
    border-color: #ff5252;
}
details.callout > summary.ad-fail::before {
    content: url(../IMG/callout/ad-fail.svg);
}
details.callout > summary.ad-error {
    background-color: #564257;
    border-color: #ff1a47;
}
details.callout > summary.ad-error::before {
    content: url(../IMG/callout/ad-error.svg);
}
details.callout > summary.ad-bug {
    background-color: #563f5a;
    border-color: #f50056;
}
details.callout > summary.ad-bug::before {
    content: url(../IMG/callout/ad-bug.svg);
}
details.callout > summary.ad-example {
    background-color: #49476b;
    border-color: #7c4dff;
}
details.callout > summary.ad-example::before {
    content: url(../IMG/callout/ad-example.svg);
}
details.callout > summary.ad-quote {
    background-color: #4d5060;
    border-color: #9e9e9e;
}
details.callout > summary.ad-quote::before {
    content: url(../IMG/callout/ad-quote.svg);
}
details.callout footer {
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid lightgray;
    min-height: 2rem;
    text-align: left;
    margin: 0;
    padding: 0.5rem;
    color: #4a341c;
    font-size: 0.8rem;
}
