article {
    margin: 1rem auto 2rem auto;
    padding: 20px;
    background-color: antiquewhite;
    border: 1px solid lightgray;
    box-sizing: border-box;
    box-shadow: 0.5rem 0.5rem 0.75rem dimgray;
}

article header {
    box-sizing: border-box;
    width: 100%;
    min-height: 2rem;
    padding: 0;
}

article header span.heading {
    min-width: 0;
    text-align: left;
}

article.bulletin, article.comment, article.message {
    background-color: white;
    box-sizing: border-box;
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid dimgray;
}

article.bulletin {
    box-shadow: 0.25rem 0.25rem 0.5rem dimgray;
}

article.comment {
    box-shadow: none;
    border: 1px solid gray;
}

article.bulletin p, article.comment p, article.message p {
    text-indent: 0;
    line-height: 1.5rem;
}

article.bulletin header, article.comment header {
    border-bottom: 1px solid lightgray;
}

article.bulletin header time, article.comment header time, article.message header time {
    float: right;
}

article.bulletin footer {
    box-sizing: border-box;
    width: 100%;
    border-top: 1px dashed lightgray;
    min-height: 2rem;
    text-align: left;
    margin: 0;
    padding: 0.25rem 1rem;
    color: dimgray;
}

article.bulletin footer p {
    margin: 0;
    padding: 0;
    font-size: small;
}

article.message {
    border: none;
    box-shadow: none;
    margin: 0.5rem;
    background: url("message_corner_tl.svg") top left no-repeat, url("message_corner_br.svg") bottom right no-repeat,
    url(message_border_t.svg) top left repeat-x,url(message_border_b.svg) bottom left repeat-x,
    url(message_border_l.svg) top left repeat-y,url(message_border_r.svg) top right repeat-y;
    background-color: white;
}

article.message header {
    border: none;
}

article.message header span.heading {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

section {
    background: transparent;
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    margin: 1rem auto;
    padding: 1rem auto;
}

blockquote {
    box-sizing: border-box;
    background-color: whitesmoke;
    border-left: 0.75rem solid;
    border-color: lightgray;
    margin: 1rem;
    padding: 1rem;
}

blockquote.emphasis {
    background-color: beige;
    border: 1px solid lightgray;
}

blockquote.inside {
    background: honeydew;
    border: 1px solid lightgray;
}

blockquote.outside {
    background: mintcream;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
}

blockquote.article {
    background: antiquewhite;
    border: 1px solid lightgray;
}

blockquote.description {
    background: transparent;
    border: none;
    margin: 1rem;
    padding: 0;
}

.poem p, .lyrics p {
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
    text-indent: 1rem;
}