:root {
    --html-background-color: dimgray;
    --body-background-color: ivory;
    --text-color: black;
    --text-reverse-color: white;
    --font-family-serif: Georgia, 'Symbola', 'Times New Roman', Times, 'Source Serif Pro', 'Noto Serif', 'IBM Plex Serif', serif;
    --font-family-sans: Arial, Helvetica, 'Source Sans Pro', 'Noto Sans', 'Fira Sans', 'Clear Sans', 'IBM Plex Sans', sans-serif;
    --font-family-code: 'Consolas', 'Inconsolata', 'Source Code Pro', 'Fira Code', monospace;
    --font-family-mono: 'Noto Mono', 'Fira Mono', 'IBM Plex Mono', 'Courier New', Courier, monospace;
    --font-family-math: 'Cambria', Georgia, 'Symbola', 'Calibri';

    /* 试着用Unicode字符定义CSS变量 */
    /* 素材选用「中国传统颜色」和「日本の伝統色」，网站界面类似，不知道究竟谁复制谁并成功 */
    --color-name-japanese-水がき: #B9887D;
    --color-name-japanese-鳥の子: #DAC9A6;
    /* 注意「芡」「垩」「槲」「鼬」四字，在「中国传统颜色」网站上表现另类，应该是对应书法字体之字型不够充沛的缘故 */
    --color-name-chinese-芡食白: #e2e1e4;
    --color-name-chinese-垩灰: #737c7b;
    --color-name-chinese-槲寄生绿: #2b312c;
    --color-name-chinese-鼬黄: #fcb70a;

    --color-name-chinese-铜绿: #549688;
    --color-name-japanese-鉄: #005243;
}