mark {
    margin: 1px;
    padding: 1px;
}

i {
    font-style: oblique;
}

b {
    font-weight: bold;
}

em {
    font-style: normal;
    color: blue;
}

strong {
    font-weight: bold;
    font-style: normal;
    color: red;
}

s {
    margin: 0 2px;
    padding: 0 2px;
    text-decoration: red wavy line-through;
}

del {
    margin: 0 1px;
    padding: 0 1px;
    text-decoration: red double line-through;
}

ins {
    margin: 0 1px;
    padding: 0 1px;
    font-style: normal;
    color: red;
    text-decoration: none;
}

.dot {
    text-emphasis: dot;
    text-emphasis-position: under right;
    -webkit-text-emphasis: dot;
    -webkit-text-emphasis-position: under right;
}

.circle {
    text-emphasis: circle;
    text-emphasis-position: under right;
    -webkit-text-emphasis: circle;
    -webkit-text-emphasis-position: under right;
}

.triangle {
    text-emphasis: triangle;
    text-emphasis-position: under right;
    -webkit-text-emphasis: triangle;
    -webkit-text-emphasis-position: under right;
}

cite {
    margin: 1px;
    padding: 1px;
    font-style: normal;
    text-emphasis: none;
    -webkit-text-emphasis: none;
    text-decoration: none;
    border-bottom: 1px solid blue;
}

dfn {
    margin: 1px;
    padding: 1px;
    font-style: normal;
    text-emphasis: none;
    -webkit-text-emphasis: none;
    text-decoration: none;
    border-bottom: 1px solid darkcyan;
}

u, abbr {
    margin: 1px;
    padding: 1px;
    font-style: normal;
    text-emphasis: none;
    -webkit-text-emphasis: none;
    text-decoration: none;
    border-bottom: 1px solid black;
}

abbr.who {
    border-bottom: 1px solid red;
}

abbr.where {
    border-bottom: 1px solid darkblue;
}

abbr.pseudo {
    border-bottom: 1px solid green;
}

abbr.uid {
    font-weight: bold;
    margin: none;
    padding: none;
    border: none;
}

abbr.uid::before {
    content: '｛';
    margin: 0 1px;
}

abbr.uid::after {
    content: '｝';
    margin: 0 1px;
}

abbr.myself {
    font-weight: bold;
    margin: none;
    padding: none;
    border: none;
    color: blue;
}

abbr.myself::before {
    content: '〔';
    margin: 0 1px;
}

abbr.myself::after {
    content: '〕';
    margin: 0 1px;
}

article header abbr.uid, article header abbr.myself {
    margin: 0 0.5rem;
}

article header abbr.uid::before, article header abbr.myself::before {
    content: none;
}

article header abbr.uid::after, article header abbr.myself::after {
    content: none;
}