h1 {
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
    background: radial-gradient(farthest-corner at 0 0, transparent, lightblue);
}

h1>img {
    display: inline-block;
    vertical-align: middle;
}

h2 {
    font-size: 1.75rem;
    margin-left: -2rem;
}

h2.heading {
    margin: 3rem 0;
}

h2.heading>span {
    box-sizing: border-box;
    padding: 16px 24px;
    background: url("h2_corner_tl.svg") top left no-repeat, url("h2_corner_br.svg") bottom right no-repeat, url("h2_corner_bl.svg") bottom left no-repeat, url("h2_corner_tr.svg") top right no-repeat;
}

h2.girdle {
    margin: 1rem -2rem;
    padding: 1rem;
    text-align: center;
    background-color: var(--html-background-color);
    color: var(--text-reverse-color);
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5, h6 {
    font-size: 1rem;
}

span.heading {
    min-width: 10rem;
    box-sizing: border-box;
    display: inline-block;
    padding: 0.5rem;
    border: none;
    text-align: center;
}

h2>span.heading {
    margin: 0;
    padding: 0.5rem 2rem;
    background: radial-gradient(black, white);
    color: white;
    border-radius: 1.5rem;
}

h3>span.heading {
    border: 3px double gray;
}

h4>span.heading {
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
}

h5>span.heading {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

h6>span.heading {
    border-bottom: 1px dashed gray;
    border-right: 1px dashed gray;
}

h2>span.bookmark {
    min-width: 10rem;
}