h1 {
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
    background: radial-gradient(farthest-corner at 0 0, transparent, lightblue);
}

h1>img {
    display: inline-block;
    vertical-align: middle;
}

.heading>span {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    min-width: 10rem;
    padding: 0.5rem;
    border: none;
}

h2 {
    font-size: 1.75rem;
}

h2.heading {
    margin: 2rem 0;
}

h2.heading>span {
    padding: 16px 20px;
    min-width: 100px;
    min-height: 70px;
    background: url("h2_corner_tl.svg") top left no-repeat, url("h2_corner_br.svg") bottom right no-repeat, url("h2_corner_bl.svg") bottom left no-repeat, url("h2_corner_tr.svg") top right no-repeat;
}

h2.girdle {
    margin: 1rem -2rem;
    padding: 1rem;
    text-align: center;
    background-color: var(--html-background-color);
    color: var(--text-reverse-color);
}

h3 {
    font-size: 1.5rem;
}

h3.heading>span {
    border: 3px double gray;
}

h4 {
    font-size: 1.25rem;
}

h4.heading>span {
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
}

h5, h6 {
    font-size: 1rem;
}

h5.heading>span {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

h6.heading>span {
    border-bottom: 1px dashed gray;
    border-right: 1px dashed gray;
}