:lang(en), :lang(fr), :lang(de), :lang(it), :lang(nl), :lang(es), :lang(pt), :lang(la), :lang(da), :lang(hu), :lang(pl), :lang(lt), :lang(grc), :lang(ru), :lang(sh) {
    font-family: 'Aroania';
    margin: 0 1px;
    padding: 0 1px;
}

q:lang(en), q:lang(fr), q:lang(de), q:lang(it), q:lang(nl), q:lang(es), q:lang(pt), q:lang(la), q:lang(da), q:lang(hu), q:lang(pl), q:lang(lt), q:lang(grc), q:lang(ru), q:lang(sh) {
    font-size: 125%;
    color: darkblue;
    margin: 1px;
    padding: 1px;
}

:lang(ar) {
    font-family: 'ScheherazadeNew';
    margin: 0 1px;
    padding: 0 1px;
}

:lang(he) {
    font-family: 'EzraSIL';
    margin: 0 1px;
    padding: 0 1px;
}

q:lang(ar), q:lang(he) {
    font-size: 125%;
    color: darkgreen;
    margin: 1px;
    padding: 1px;
}

q:lang(ar)::before, q:lang(he)::before {
    font-family: var(--font-family-sans);
    content: '⟨';
    color: red;
}

q:lang(ar)::after, q:lang(he)::after {
    font-family: var(--font-family-sans);
    content: '⟩';
    color: red;
}

q:lang(ja) {
    background-color: whitesmoke;
    color: darkblue;
    margin: 0 1px;
    padding: 0 1px;
}

q::before, q::after {
    padding: 0 1px;
}

:lang(nato) {
    font-family: 'Avdira';
    margin: 0 1px;
    padding: 0 1px;
}

q:lang(nato) {
    font-size: 125%;
    color: navy;
    margin: 1px;
    padding: 1px;
}

q:lang(nato)::before {
    content: '«';
}

q:lang(nato)::after {
    content: '»';
}

:lang(sux) {
    font-family: 'Fanism';
    margin: 0 1px;
    padding: 0 1px;
}

q:lang(sux) {
    font-size: 150%;
    color: brown;
    margin: 1px;
    padding: 1px;
}

q:lang(sux)::before {
    content: '［';
}

q:lang(sux)::after {
    content: '］';
}

:lang(egy) {
    font-family: 'Fanism';
    margin: 0 1px;
    padding: 0 1px;
}

q:lang(egy) {
    color: darkred;
    font-size: 200%;
    margin: 1px;
    padding: 1px;
}

q:lang(egy)::before {
    content: '［';
}

q:lang(egy)::after {
    content: '］';
}

span:lang(egy) {
    display: inline-block;
    text-indent: 0;
    margin: 2px;
    padding: 12px 8px;
    border: 2px solid dimgray;
    border-radius: 8px;
    background-color: whitesmoke;
    color: brown;
    font-family: "Fanism";
    font-weight: bold;
    font-size: 300%;
    vertical-align: middle;
}

rt:lang(egy) {
    color: brown;
    font-size: 200%;
    font-weight: bold;
}

:lang(cop) {
    font-family: 'Quivira';
}

.ipa {
    font-family: var(--font-family-ipa);
    color: var(--color-name-japanese-鉄);
}

.ipa::before {
    content: '[';
}

.ipa::after {
    content: ']';
}

rt.ipa {
    font-size: 100%;
}

rt.nilus {
    color: darkred;
    font-family: Nilus;
    font-size: 200%;
    font-feature-settings: 'liga', 'aalt';
}