:lang(eo),
:lang(en),
:lang(fr),
:lang(de),
:lang(it),
:lang(nl),
:lang(es),
:lang(pt),
:lang(la),
:lang(da),
:lang(hu),
:lang(pl),
:lang(lt),
:lang(grc),
:lang(ru),
:lang(sh) {
    font-family: "IBM Plex Sans";
}

q:lang(eo),
q:lang(en),
q:lang(fr),
q:lang(de),
q:lang(it),
q:lang(nl),
q:lang(es),
q:lang(pt),
q:lang(la),
q:lang(da),
q:lang(hu),
q:lang(pl),
q:lang(lt),
q:lang(grc),
q:lang(ru),
q:lang(sh) {
    color: darkblue;
    margin: 1px;
    padding: 1px;
}

/* :lang(grc) {
    font-size: 125%;
    font-family: "Aroania";
}

q:lang(grc) {
    color: darkblue;
    margin: 1px;
    padding: 1px;
} */

:lang(semitic) {
    font-family: "Fanism";
    font-size: 125%;
}

:lang(cop),
:lang(uga),
:lang(arc),
:lang(phn),
:lang(smp),
:lang(xpu),
:lang(got),
:lang(chu) {
    font-family: "Quivira";
    font-size: 125%;
}

q:lang(fhn) {
    color: darkblue;
    quotes: "〘" "〙" "〔" "〕";
}

:lang(ar) {
    /* font-family: 'ScheherazadeNew'; */
    font-family: "IBM Plex Sans Arabic";
}

:lang(he) {
    /* font-family: 'EzraSIL'; */
    font-family: "IBM Plex Sans Hebrew";
}

:lang(syc) {
    font-size: 125%;
}

rt:lang(he),
rt:lang(ar) {
    color: darkgreen;
}

q:lang(ar),
q:lang(he),
q:lang(syc) {
    font-size: 125%;
    color: darkgreen;
    margin: 1px;
    padding: 1px;
}

q:lang(ar),
q:lang(he),
q:lang(syc) {
    quotes: "⦗" "⦘" "⟮" "⟯";
}

q:lang(ar)::before,
q:lang(he)::before,
q:lang(syc)::before,
q:lang(ar)::after,
q:lang(he)::after,
q:lang(syc)::after {
    color: red;
}

q:lang(ja) {
    font-family: "IBM Plex Sans JP";
    background-color: whitesmoke;
    color: darkblue;
}

q::before,
q::after {
    padding: 0 1px;
    color: darkred;
}

q:lang(chs) {
    /* “ ” ‘ ’ */
    quotes: "\201C" "\201D" "\2018" "\2019";
    font-family: "IBM Plex Sans SC";
}

q:lang(cht) {
    /* 「 」 『 』 */
    quotes: "\300C" "\300D" "\300E" "\300F";
    font-family: "IBM Plex Sans TC";
}

q:lang(la),
q:lang(grc) {
    /* « » ‹ › */
    quotes: "\AB" "\BB" "\8B" "\9B";
}

:lang(nato) {
    font-family: "Avdira";
}

q:lang(nato) {
    font-size: 125%;
    color: navy;
    margin: 1px;
    padding: 1px;
}

q:lang(nato) {
    quotes: "⦃" "⦄" "⦅" "⦆";
}

:lang(sux) {
    font-family: "Fanism";
}

q:lang(sux) {
    display: inline-block;
    text-indent: 0;
    margin: 2px;
    padding: 8px;
    border: 2px solid dimgray;
    border-radius: 8px;
    background-color: whitesmoke;
    color: brown;
    font-family: "Fanism";
    /* font-weight: bold; */
    font-size: 150%;
    vertical-align: middle;
}

q:lang(sux)::before,
q:lang(sux)::after {
    content: none;
}

span:lang(sux) {
    font-size: 20px;
    /* font-weight: bold; */
    text-indent: 0;
    margin: 1px;
    padding: 1px;
    display: inline-block;
    vertical-align: middle;
}

rt:lang(sux) {
    font-size: 1rem;
}

:lang(egy) {
    font-family: "Fanism";
}

q:lang(egy) {
    display: inline-block;
    text-indent: 0;
    margin: 2px;
    padding: 8px;
    border: 2px solid dimgray;
    border-radius: 8px;
    background-color: whitesmoke;
    color: brown;
    font-family: "Fanism";
    font-weight: bold;
    font-size: 300%;
    vertical-align: middle;
}

q:lang(egy)::before,
q:lang(egy)::after {
    content: none;
}

span:lang(egy) {
    font-size: 300%;
    text-indent: 0;
    margin: 1px;
    padding: 1px;
    display: inline-block;
    vertical-align: middle;
}

rt:lang(egy) {
    color: brown;
    font-size: 200%;
    font-weight: bold;
}

.idiom {
    font-family: "FanIdiom";
    font-size: 300%;
    text-indent: 0;
    margin: 1px;
    padding: 1px;
}

span.idiom {
    display: inline-block;
    vertical-align: middle;
}

rt.idiom {
    font-size: 200%;
    font-weight: bold;
    color: brown;
}

q.idiom {
    display: inline-block;
    vertical-align: middle;
    text-indent: 0;
    margin: 2px;
    padding: 8px;
    border: 2px solid dimgray;
    border-radius: 8px;
    background-color: whitesmoke;
    color: brown;
}

q.idiom::before,
q.idiom::after {
    content: none;
}

.ipa,
.ipa-alt {
    font-family: var(--font-family-ipa);
    color: var(--color-name-japanese-鉄);
}

.ipa::before {
    color: darkred;
    content: "[";
}

.ipa::after {
    color: darkred;
    content: "]";
}

.ipa-alt::before,
.ipa-alt::after {
    color: darkred;
    content: "/";
}

rt.ipa {
    font-size: 80%;
}

rt.q {
    font-size: 80%;
    font-family: "IBM Plex Sans";
    color: darkblue;
}

rt.q::before {
    color: darkred;
    content: "\201C";
}

rt.q::after {
    color: darkred;
    content: "\201D";
}

rt.bopomofo {
    font-family: "Fanism";
    font-feature-settings: "ss01";
    font-size: 200%;
    color: var(--color-name-japanese-鉄);
}