a {
    margin: 0 0.25rem;
    padding: 0.25rem;
    text-decoration: none;
    color: steelblue;
}

a::before {
    content: "\1F517";
    margin: 0 0.25rem 0 0;
}

a[href^="http://"]::before, a[href^="https://"]::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMTAwIDEwMCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSJzdGVlbGJsdWUiIHN0cm9rZS13aWR0aD0iMTAiIGQ9Im00MywzNUg1djYwaDYwVjU3TTQ1LDV2MTBsMTAsMTAtMzAsMzAgMjAsMjAgMzAtMzAgMTAsMTBoMTBWNXoiLz48L3N2Zz4=");
    margin: 0 0.25rem 0 0;
}

a.card {
    display: block;
    max-width: 720px;
    margin: 1rem auto;
    padding: 20px;
    text-align: center;
    font-size: 125%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background: url("link_background.svg") no-repeat;
}

a.alone {
    display: inline-block;
    text-indent: 0;
    background-color: whitesmoke;
    color: blue;
    border: 1px dotted dimgray;
    margin: 0.5rem;
    padding: 0.25rem 0.5rem;
}

a:hover {
    background-color: steelblue;
    color: yellow;
}