a {
    margin: 0 0.25rem;
    padding: 0.25rem;
    text-decoration: none;
    color: steelblue;
}

a::before {
    content: "\1F517";
    margin: 0 0.25rem 0 0;
}

a[href^="http://"]::before, a[href^="https://"]::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMTAwIDEwMCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSJzdGVlbGJsdWUiIHN0cm9rZS13aWR0aD0iMTAiIGQ9Im00MywzNUg1djYwaDYwVjU3TTQ1LDV2MTBsMTAsMTAtMzAsMzAgMjAsMjAgMzAtMzAgMTAsMTBoMTBWNXoiLz48L3N2Zz4=");
    margin: 0 0.25rem 0 0;
}

a.card {
    display: block;
    max-width: 700px;
    margin: 1rem auto;
    padding: 20px;
    text-align: center;
    font-size: 125%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background:
        url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2MCAxNjAiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0wIDBoODB2ODBIMHoiLz48cGF0aCBmaWxsPSIjZmZmIiBzdHJva2U9IiMwMGYiIHN0cm9rZS13aWR0aD0iMTUiIGQ9Ik01IDIwMFY3NWg3MFY1aDEyNXY0MGgtODV2NzBINDV2ODV6Ii8+PC9zdmc+") top left no-repeat,
        url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2MCAxNjAiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik04MCAwaDgwdjgwSDgweiIvPjxwYXRoIGZpbGw9IiNmZmYiIHN0cm9rZT0iIzAwZiIgc3Ryb2tlLXdpZHRoPSIxNSIgZD0iTS00MCA1SDg1djcwaDcwdjEyNWgtNDB2LTg1SDQ1VjQ1aC04NXoiLz48L3N2Zz4=") top right no-repeat,
        url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2MCAxNjAiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0wIDgwaDgwdjgwSDB6Ii8+PHBhdGggZmlsbD0iI2ZmZiIgc3Ryb2tlPSIjMDBmIiBzdHJva2Utd2lkdGg9IjE1IiBkPSJNNS00MFY4NWg3MHY3MGgxMjV2LTQwaC04NVY0NUg0NXYtODV6Ii8+PC9zdmc+") bottom left no-repeat,
        url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2MCAxNjAiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik04MCA4MGg4MHY4MEg4MHoiLz48cGF0aCBmaWxsPSIjZmZmIiBzdHJva2U9IiMwMGYiIHN0cm9rZS13aWR0aD0iMTUiIGQ9Ik0tNDAgMTU1SDg1Vjg1aDcwVi00MGgtNDB2ODVINDV2NzBoLTg1eiIvPjwvc3ZnPg==") bottom right no-repeat,
        url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2MCAxNjAiPjxwYXRoIGZpbGw9IiNmZmYiIHN0cm9rZT0iIzAwZiIgc3Ryb2tlLXdpZHRoPSIxNSIgZD0iTS0yMCA1aDIwMHY0MEgtMjB6Ii8+PC9zdmc+") top left repeat-x,
        url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2MCAxNjAiPjxwYXRoIGZpbGw9IiNmZmYiIHN0cm9rZT0iIzAwZiIgc3Ryb2tlLXdpZHRoPSIxNSIgZD0iTS0yMCAxMTVoMjAwdjQwSC0yMHoiLz48L3N2Zz4=") bottom left repeat-x,
        url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2MCAxNjAiPjxwYXRoIGZpbGw9IiNmZmYiIHN0cm9rZT0iIzAwZiIgc3Ryb2tlLXdpZHRoPSIxNSIgZD0iTTUtMjBoNDB2MjAwSDV6Ii8+PC9zdmc+") top left repeat-y,
        url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2MCAxNjAiPjxwYXRoIGZpbGw9IiNmZmYiIHN0cm9rZT0iIzAwZiIgc3Ryb2tlLXdpZHRoPSIxNSIgZD0iTTExNS0yMGg0MHYyMDBoLTQweiIvPjwvc3ZnPg==") bottom right repeat-y;
    background-color: white;
}

a.alone {
    display: inline-block;
    text-indent: 0;
    background-color: whitesmoke;
    color: blue;
    border: 1px dotted dimgray;
    margin: 0.5rem;
    padding: 0.25rem 0.5rem;
}

a:hover {
    background-color: darkblue;
    color: yellow;
}