a {
    margin: 0 0.25rem;
    padding: 0.25rem;
    text-decoration: none;
    color: steelblue;
}

a::before {
    content: "\1F517";
    margin: 0 0.25rem 0 0;
}

a[href^="http://"]::before, a[href^="https://"]::before {
    content: url(../IMG/external-link.svg);
    margin: 0 0.25rem 0 0;
}

a.card {
    display: block;
    max-width: 700px;
    margin: 1rem auto;
    padding: 20px;
    text-align: center;
    font-size: 125%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background: url("link_corner_tl.svg") top left no-repeat, url("link_corner_tr.svg") top right no-repeat, url("link_corner_bl.svg") bottom left no-repeat, url("link_corner_br.svg") bottom right no-repeat, url("link_border_t.svg") top left repeat-x, url("link_border_b.svg") bottom left repeat-x, url("link_border_l.svg") top left repeat-y, url("link_border_r.svg") bottom right repeat-y;
    background-color: white;
}

a.alone {
    display: inline-block;
    text-indent: 0;
    background-color: whitesmoke;
    color: blue;
    border: 1px dotted dimgray;
    margin: 0.5rem;
    padding: 0.25rem 0.5rem;
}

a:hover {
    background-color: darkblue;
    color: yellow;
}