var {
    font-family: var(--font-family-math);
    font-style: oblique;
    padding: 1px;
}

span.math {
    display: inline-block;
    text-indent: 0;
    font-family: var(--font-family-math);
    font-size: 1.25rem;
    margin: 1px;
    padding: 1px;
    color: blue;
    background-color: transparent;
}
/*
span.math sup, span.math sub {
    padding: 1px;
}

span.math sub {
    font-feature-settings: "subs" 1;
    font-variant-position: sub;
}

span.math sup {
    font-feature-settings: "sups" 1;
    font-variant-position: super;
} */

span.frac {
    font-family: 'Calibri', Georgia, 'Cambria', 'Symbola';
    font-size: 125%;
    font-variant-numeric: diagonal-fractions;
}

span.onum {
    font-family: Georgia, 'Cambria', 'Symbola', 'Calibri';
    font-size: 125%;
    font-variant-numeric: oldstyle-nums;
}

span.math img {
    display: inline-block;
    vertical-align: middle;
}