var {
    font-family: var(--font-family-math);
    font-style: oblique;
    padding: 2px;
}

span.math {
    display: inline-block;
    text-indent: 0;
    font-family: var(--font-family-math);
    font-size: 1.25rem;
    margin: 1px;
    padding: 1px;
    color: blue;
    background-color: transparent;
}

span.frac {
    font-family: var(--font-family-math);
    font-size: 125%;
    font-variant-numeric: diagonal-fractions;
}

span.onum {
    font-family: var(--font-family-math);
    font-size: 125%;
    font-variant-numeric: oldstyle-nums;
    margin: 0 1px;
    padding: 0 1px;
}

span.math img {
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
}