span.symbola {
    display: inline-block;
    text-indent: 0;
    margin: 0 1px;
    padding: 1 2px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    color: blue;
    font-family: "Symbola";
    font-size: 150%;
    vertical-align: middle;
}

span.important {
    display: inline-block;
    margin: 0 0.25rem;
    padding: 0.5rem;
    text-indent: 0;
    font-size: 3rem;
    border: 1px solid gray;
    background-color: white;
    color: blue;
    vertical-align: middle;
}

span.bookmark {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    background: var(--html-background-color);
    color: var(--text-reverse-color);
    padding: 0.5rem 1rem;
}

span.tip {
    color: dimgray;
}

span.tip::before {
    content: '〔';
}

span.tip::after {
    content: '〕';
}

span.holy {
    margin: 0 0.25rem;
    padding: 0.25rem;
    text-indent: none;
    font-weight: bold;
    background: linear-gradient(yellow, red);
    border-radius: 0.25rem;
}

span.evil {
    margin: 0 0.25rem;
    padding: 0.25rem;
    text-indent: none;
    font-weight: bold;
    background: linear-gradient(lime, dimgray);
    border-radius: 0.25rem;
    color: purple;
}

span.lowbee {
    font-weight: bold;
    color: darkgreen;
}

span.ero {
    margin: 0 0.25rem;
    padding: 0.25rem;
    text-indent: none;
    border-radius: 0.25rem;
    background-color: pink;
    color: brown;
}