@import url(CSS/constant.css);
@import url(CSS/lang.css);
@import url(CSS/emphasis.css);
@import url(CSS/math.css);
@import url(CSS/time.css);
@import url(CSS/span.css);
@import url(CSS/heading.css);
@import url(CSS/code.css);
@import url(CSS/link.css);
@import url(CSS/figure.css);
@import url(CSS/block.css);
@import url(CSS/table.css);
@import url(CSS/list.css);
@import url(CSS/nav.css);
html {
    background-color: var(--html-background-color);
}

body {
    box-sizing: content-box;
    width: 1440px;
    margin: 1rem auto;
    padding: 1rem 2rem;
    background-color: var(--body-background-color);
}

p {
    text-indent: 2rem;
    line-height: 2rem;
}

main, div.main {
    box-sizing: content-box;
    width: 1220px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: transparent;
}

header, footer {
    box-sizing: content-box;
    margin: 0 auto;
    padding: 1rem;
}

div.signature {
    display: inline-block;
    padding: 0.5rem 2rem;
    max-width: 60%;
    border-top: 3px double darkblue;
}

div.signature p {
    margin: 0;
    padding: 0;
    text-indent: 0;
}

hr.inside {
    border: none;
    height: 3px;
    background-image: linear-gradient(left, transparent, dimgray, transparent);
    background-image: -webkit-linear-gradient(left, transparent, dimgray, transparent);
    background-image: -moz-linear-gradient(left, transparent, dimgray, transparent);
    background-image: -ms-linear-gradient(left, transparent, dimgray, transparent);
    background-image: -o-linear-gradient(left, transparent, dimgray, transparent);
}