@import "../essay.css";
:root {
    --html-background-color: saddlebrown;
    --text-reverse-color: white;
}

h1 {
    background: radial-gradient(farthest-corner at 0 0, white, tan);
}

img.logo {
    float: left;
}