:lang(en), :lang(fr), :lang(de), :lang(it), :lang(nl), :lang(es), :lang(la), :lang(grc), :lang(ru), :lang(da) {
    font-family: var(--font-family-sans);
    margin: 0 1px;
    padding: 0 1px;
}

q:lang(en), q:lang(fr), q:lang(de), q:lang(it), q:lang(nl), q:lang(es), q:lang(la), q:lang(grc), q:lang(ru), :lang(da) {
    font-weight: bold;
    color: darkblue;
    margin: 1px;
    padding: 1px;
}

q:lang(ja) {
    background-color: whitesmoke;
    color: darkblue;
    margin: 0 1px;
    padding: 0 1px;
}

q::before, q::after {
    padding: 0 1px;
}