@import url(../essay.css);

html {
    background-color: midnightblue;
}

body {
    background-color: aliceblue;
}

main, div.main {
    padding: 1rem;
    border: 1px solid lightgray;
    box-shadow: 0.5rem 0.5rem 0.75rem dimgray;
}

h1 {
    background: radial-gradient(farthest-corner at 0 0, white, skyblue);
}