@import url(../../../main.css);
html {
    background-image: url(../image/excursus_background.svg);
    background-color: var(--html-background-color);
}

body {
    filter: opacity(97%);
}

h1 {
    box-sizing: border-box;
    height: 470px;
    padding: 250px 0 0 0;
    background: url("../image/heading_excursus.svg") 50% no-repeat;
    text-align: center;
    font-size: 4rem;
}
