@import "../essay.css";

h1 {
    height: 48px;
}

h1::after {
    /* content: url(../../IMG/excursus_heading.svg); */
    content: '7';
    font-family: 'FanTitle';
    font-size: 3rem;
    font-weight: normal;
    color: dimgray;
    float: right;
}
