@import url(../at_zhihu.css);
main {
    width: 1280px;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px dotted lightgray;
}

header section p, blockquote p {
    margin: 0.25rem 0;
    padding: 0;
}