@font-face {
  font-family: "Fanism";
  src: url(./fanism/Fanism.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FanSign";
  src: url(./fanism/FanSign.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FanTitle";
  src: url(./fanism/FanTitle.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FanEgyTran";
  src: url(./fanism/FanEgyTran.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FanEgyHier";
  src: url(./fanism/FanEgyHier.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FanBopomofo";
  src: url(./fanism/FanBopomofo.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FanHera";
  src: url(./fanism/FanHera.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FanAstr";
  src: url(./fanism/FanAstr.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FanAdinkra";
  src: url(./fanism/FanAdinkra.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FanTritCoin";
  src: url(./fanism/FanTritCoin.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FanSemitic";
  src: url(./fanism/FanSemitic.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FanIdiom";
  src: url(./fanism/FanIdiom.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HwanaKwana";
  src: url(./fanism/HwanaKwana.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
