@font-face {
  font-family: "NeoXiHei";
  src: local("LXGWNeoXiHei"), url(./LXGW/LXGWNeoXiHei.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NeoXiHei";
  src: local("LXGWNeoXiHeiPlus"), url(./LXGW/LXGWNeoXiHeiPlus.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "WenKai";
  src: local("LXGWWenKai"), url(./LXGW/LXGWWenKai-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tiejili";
  src: local("Tiejili SC"), url(./LXGW/TiejiliSC-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
