@import url(../../../main.css);
html {
    background: url("image/000-000_background.png") repeat;
    background-color: var(--html-background-color);
}

body {
    filter: opacity(95%);
}

h1 {
    height: 64px;
}

h1>img {
    float: right;
}