@import url(../../../main.css);
html {
    background-image: url(../IMG/mathematics_background.svg);
    background-color: var(--html-background-color);
}

body {
    filter: opacity(97%);
}

h1 {
    height: 64px;
}

h1::after {
    content: url(../IMG/mathematics_heading.svg);
    float: right;
}