article {
    margin: 1rem 1rem 2rem 1rem;
    padding: 1rem;
    border: 1px solid lightgray;
    box-shadow: 0.5rem 0.5rem 0.75rem dimgray;
    background-color: antiquewhite;
}

section {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    background-color: beige;
    box-shadow: 0.25rem 0.25rem 0.5rem dimgray;
}
