article, div.article {
    margin: 1rem 1rem 2rem 1rem;
    padding: 1rem;
    background-color: antiquewhite;
    border: 1px solid lightgray;
    box-sizing: border-box;
    box-shadow: 0.5rem 0.5rem 0.75rem dimgray;
}

article header {
    box-sizing: border-box;
    width: 100%;
    min-height: 2rem;
}

article.poem {
    width: 50%;
    margin: 1rem auto;
}

article.bulletin, article.comment, article.message {
    background-color: white;
    box-sizing: border-box;
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid dimgray;
}

article.bulletin {
    box-shadow: 0.25rem 0.25rem 0.5rem dimgray;
}

article.comment {
    box-shadow: none;
    border: 1px solid gray;
}

article.message {
    box-shadow: none;
    margin: -1px auto;
    border: 1px solid lightgray;
}

article.bulletin p,
article.comment p,
article.message p {
    text-indent: 0;
    line-height: 1.5rem;
}

article.bulletin header,
article.comment header {
    border-bottom: 1px solid lightgray;
}

article.message header {
    border: none;
}

article.message header span.heading {
    border-bottom: 1px dashed gray;
}

article.bulletin header time,
article.comment header time,
article.message header time {
    float: right;
}

article.bulletin footer {
    box-sizing: border-box;
    width: 100%;
    border-top: 1px dashed lightgray;
    min-height: 2rem;
    text-align: left;
    margin: 0;
    padding: 0.25rem 1rem;
    color: dimgray;
}

article.bulletin footer p {
    margin: 0;
    padding: 0;
    font-size: small;
}

.lyrics p {
    line-height: 1.25rem;
    margin: 0.5rem;
}

section, div.section {
    margin: 1rem;
    padding: 1rem;
    background-color: beige;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    box-sizing: border-box;
    box-shadow: 0.25rem 0.25rem 0.5rem dimgray;
}

blockquote, div.blockquote {
    box-sizing: border-box;
    background-color: whitesmoke;
    /* border-top: 1px dotted;
    border-bottom: 1px dotted; */
    border-left: 0.75rem solid;
    border-color: lightgray;
    margin: 1rem;
    padding: 1rem;
}

/* 用于问题描述 */

blockquote.description {
    background: transparent;
    border: none;
}

blockquote.inside {
    background: whitesmoke;
    border: 1px solid lightgray;
}

blockquote.outside {
    background: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
}

blockquote.article {
    background: antiquewhite;
    border: 1px solid lightgray;
}

blockquote.section {
    background-color: beige;
    border: 1px solid lightgray;
}