mark {
    margin: 1px;
    padding: 1px;
}

i {
    font-style: oblique;
}

b {
    font-weight: bold;
}

em {
    font-style: normal;
    color: blue;
}

strong {
    font-weight: bold;
    font-style: normal;
    color: red;
}

s {
    margin: 0 2px;
    padding: 0 2px;
    text-decoration: red wavy line-through;
}

del {
    margin: 0 2px;
    padding: 0 2px;
    text-decoration: red double line-through;
}

ins {
    margin: 0 2px;
    padding: 2px 2px;
    font-style: normal;
    text-decoration: none;
    background-image: radial-gradient(farthest-corner at 0 0, yellow, red);
}

cite {
    margin: 1px;
    padding: 1px;
    font-style: normal;
    text-emphasis: none;
    text-decoration: none;
    border-bottom: 1px solid blue;
}

dfn {
    margin: 1px;
    padding: 1px;
    font-style: normal;
    text-emphasis: none;
    text-decoration: none;
    border-bottom: 1px solid darkcyan;
}

u, abbr {
    margin: 1px;
    padding: 1px;
    font-style: normal;
    text-emphasis: none;
    text-decoration: none;
    border-bottom: 1px solid black;
}

abbr.person {
    border-bottom: 1px solid red;
}

abbr.place {
    border-bottom: 1px solid darkblue;
}

abbr.pseudo {
    border-bottom: 1px solid green;
}

abbr.unm {
    font-weight: bold;
    margin: none;
    padding: none;
    border: none;
}

abbr.unm::before {
    content: '｛';
    margin: 0 1px;
}

abbr.unm::after {
    content: '｝';
    margin: 0 1px;
}
