mark {
    margin: 1px;
    padding: 1px;
}

i {
    font-style: oblique;
}

b {
    font-weight: bold;
}

em {
    font-style: normal;
    color: blue;
}

strong {
    font-weight: bold;
    font-style: normal;
    color: red;
}

span.dot {
    text-emphasis: dot;
    text-emphasis-position: under right;
    -webkit-text-emphasis: dot;
    -webkit-text-emphasis-position: under right;
}

span.circle {
    text-emphasis: circle;
    text-emphasis-position: under right;
    -webkit-text-emphasis: circle;
    -webkit-text-emphasis-position: under right;
}

span.triangle {
    text-emphasis: triangle;
    text-emphasis-position: under right;
    -webkit-text-emphasis: triangle;
    -webkit-text-emphasis-position: under right;    
}

s {
    margin: 0 2px;
    padding: 0 2px;
    text-decoration: red wavy line-through;
}

del {
    margin: 0 2px;
    padding: 0 2px;
    text-decoration: red double line-through;
}

ins {
    margin: 0 2px;
    padding: 2px 2px;
    font-style: normal;
    text-decoration: none;
    background-image: radial-gradient(farthest-corner at 0 0, yellow, red);
}

cite {
    margin: 1px;
    padding: 1px;
    font-style: normal;
    text-emphasis: none;
    text-decoration: none;
    border-bottom: 1px solid blue;
}


dfn { /* 视同<abbr class="term"> */
    margin: 1px;
    padding: 1px;
    font-style: normal;
    text-emphasis: none;
    text-decoration: none;
    border-bottom: 1px solid darkcyan;
}

u { /* 视同<abbr> */
    margin: 1px;
    padding: 1px;
    font-style: normal;
    text-emphasis: none;
    text-decoration: none;
    border-bottom: 1px solid black;
}

abbr {
    margin: 1px;
    padding: 1px;
    text-emphasis: none;
    text-decoration: none;
    border-bottom: 1px solid black;
}

abbr.company {
    border-bottom: 1px solid dimgray;
}

abbr.software {
    border-bottom: 1px dotted dimgray;
}

abbr.term {
    border-bottom: 1px solid darkcyan;
}

abbr.person {
    border-bottom: 1px solid red;
}

abbr.place {
    border-bottom: 1px solid darkblue;
}

abbr.rolename {
    border-bottom: 1px solid green;
}

abbr.username {
    font-weight: bold;
    margin: none;
    padding: none;
    border: none;
}

abbr.username::before {
    content: '｛';
    margin: 0 1px;
}

abbr.username::after {
    content: '｝';
    margin: 0 1px;
}

span.tip {
    color: dimgray;
}

span.tip::before {
    content: '〔';
}

span.tip::after {
    content: '〕';
}

span.holy {
    margin: 0 0.25rem;
    padding: 0.25rem;
    text-indent: none;
    font-weight: bold;
    /* font-size: 1rem; */
    background: linear-gradient(yellow, red);
    border-radius: 0.25rem;
}

span.evil {
    margin: 0 0.25rem;
    padding: 0.25rem;
    text-indent: none;
    font-weight: bold;
    /* font-size: 1rem; */
    background: linear-gradient(lime, dimgray);
    border-radius: 0.25rem;
    color: purple;
}

span.lowbee {
    font-weight: bold;
    color: darkgreen;
}

span.ero {
    margin: 0 0.25rem;
    padding: 0.25rem;
    text-indent: none;
    border-radius: 0.25rem;
    background-color: pink;
    color: brown;
}