figure {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    /* border: 1px dotted dimgray; */
}

figcaption {
    text-align: center;
    padding: 0.5rem 0;
}

figcaption span {
    margin: auto;
    padding: 0 1rem 0.25rem 1rem;
    border-bottom: 2px dashed dimgray;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

figure a::before {
    content: none;
}

figure a:link {
    background-color: initial;
    color: initial;
}

figure a:visited {
    background-color: initial;
    color: initial;
}

figure a:hover {
    background-color: initial;
    color: initial;
}

figure a:active {
    background-color: initial;
    color: initial;
}