a {
    margin: 0 0.25rem;
    padding: 0.25rem;
    text-decoration: none;
    color: steelblue;
}

a::before {
    content: "\1F517";
    margin: 0 0.25rem 0 0;
}

a[href^="http://"]::before, a[href^="https://"]::before {
    content: url(external-link.svg);
    margin: 0 0.25rem 0 0;
}

a:hover {
    background-color: darkblue;
    color: yellow;
}

div.linkcard {
    display: table;
    width: 80%;
    min-height: 3rem;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: whitesmoke;
    border: 1px solid dimgray;
    border-radius: 0.5rem;
    text-align: center;
}

div.linkcard a {
    display: table-cell;
    vertical-align: middle;
    padding: 0.5rem;
    font-size: 125%;
}
