span.math {
    display: inline-block;
    text-indent: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    margin: 1px;
    padding: 1px;
    color: blue;
    background-color: transparent;
}

span.math var {
    padding: 1px;
}

span.math sup, span.math sub {
    padding: 1px;
}

span.math sub {
    font-feature-settings: "subs" 1;
    font-variant-position: sub;
}

span.math sup {
    font-feature-settings: "sups" 1;
    font-variant-position: super;
}

span.frac {
    font-family: "Symbola";
    font-size: 125%;
    font-variant-numeric: diagonal-fractions;
}

span.onum {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 125%;
    font-variant-numeric: oldstyle-nums;
}