span.math {
    display: inline-block;
    text-indent: 0;
    font-family: "Latin Modern Math", Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    margin: 1px;
    padding: 1px;
    color: blue;
    background-color: transparent;
}

span.math var {
    font-family: 'Times New Roman', Times, serif;
    margin: 1px;
    padding: 1px;
}

span.math sup, span.math sub {
    margin: 1px;
    padding: 1px;
}