span.symbola {
    display: inline-block;
    text-indent: 0;
    margin: 0 1px;
    padding: 1 2px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    color: blue;
    font-family: "Symbola";
    font-size: 150%;
}