@import url(../main.css);

header {
    position: relative;
}

header::after {
    content: url(IMG/header_after.svg);
}

h1 {
    background: radial-gradient(farthest-corner at 0 0, lime, white);
}

header p {
    margin: 0.5rem 1rem;
}

header.question {
    border: none;
}

header.question h1 {
    background: radial-gradient(farthest-corner at 0 0, lightskyblue, white);
}

header.question h1::before {
    content: url(../IMG/logo.svg);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99999;
}

header.question blockquote.description {
    background-color: azure;
    border: 1px solid lightblue;
    box-shadow: 0.25rem 0.25rem 0.5rem dimgray;
}
