@import url(../main.css);
main {
    width: 1280px;
    margin: 1rem auto;
    padding: 1rem;
}

header {
    position: relative;
    border-bottom: 3px solid silver;
}

h1 {
    background: radial-gradient(farthest-corner at 0 0, lime, white);
}

header section p, blockquote p {
    margin: 0.25rem 0;
    padding: 0;
}

header blockquote.description {
    border: none;
}

header.question {
    border: none;
}

header.question h1 {
    background: radial-gradient(farthest-corner at 0 0, lightskyblue, white);
}

header.question h1::before {
    content: url(../RESOURCE/logo.svg);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99999;
}

header.question blockquote.description {
    background-color: azure;
    border: 1px solid lightblue;
    box-sizing: border-box;
    box-shadow: 0.25rem 0.25rem 0.5rem midnightblue;
}