@font-face {
    font-family: "Accord";
    src: url(./calligraphic/Accord.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Barkham";
    src: url(./calligraphic/Barkham.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Brinkman";
    src: url(./calligraphic/Brinkman.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Candlemas";
    src: url(./calligraphic/Candlemas.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cardigan";
    src: url(./calligraphic/Cardigan.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Carnet";
    src: url(./calligraphic/Carnet.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CertificatextNormal";
    src: url(./calligraphic/CertificatextNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CourtHand";
    src: url(./calligraphic/CourtHand.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Davis";
    src: url(./calligraphic/Davis.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DavisFancy";
    src: url(./calligraphic/DavisFancy.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ErosText";
    src: url(./calligraphic/ErosText.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "EspaniaNormal";
    src: url(./calligraphic/EspaniaNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Graduate";
    src: url(./calligraphic/Graduate.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Horloge";
    src: url(./calligraphic/Horloge.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LibraryTextNormal";
    src: url(./calligraphic/LibraryTextNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MatrixNormal";
    src: url(./calligraphic/MatrixNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MottoNormal";
    src: url(./calligraphic/MottoNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Postillion";
    src: url(./calligraphic/Postillion.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ScepterNormal";
    src: url(./calligraphic/ScepterNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SilverwoodSwash";
    src: url(./calligraphic/SilverwoodSwash.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SpeedscriptNormal";
    src: url(./calligraphic/SpeedscriptNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Unciala";
    src: url(./calligraphic/Unciala.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ZingoNormal";
    src: url(./calligraphic/ZingoNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Zion";
    src: url(./calligraphic/Zion.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}