@font-face {
    font-family: "Alcazar";
    src: url(./circus/Alcazar.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ArtSans";
    src: url(./circus/ArtSans.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BackhandScript";
    src: url(./circus/BackhandScript.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Balderdash";
    src: url(./circus/Balderdash.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cavalcade";
    src: url(./circus/Cavalcade.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Centennial";
    src: url(./circus/Centennial.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cinderella";
    src: url(./circus/Cinderella.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circustime";
    src: url(./circus/Circustime.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Daisy";
    src: url(./circus/Daisy.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DiamondInlay";
    src: url(./circus/DiamondInlay.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Earthquake";
    src: url(./circus/Earthquake.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HometownNormal";
    src: url(./circus/HometownNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Houdini";
    src: url(./circus/Houdini.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JasonWood";
    src: url(./circus/JasonWood.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mona";
    src: url(./circus/Mona.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Panjandrum";
    src: url(./circus/Panjandrum.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Penzance";
    src: url(./circus/Penzance.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RingmasterNormal";
    src: url(./circus/RingmasterNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ShowtimeNormal";
    src: url(./circus/ShowtimeNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "StartimeNormal";
    src: url(./circus/StartimeNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TokyoNormal";
    src: url(./circus/TokyoNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Torpedo";
    src: url(./circus/Torpedo.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Toussant";
    src: url(./circus/Toussant.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Wave";
    src: url(./circus/Wave.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}