@font-face {
    font-family: "BlotterRoman";
    src: url(./grunge/BlotterRoman.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bushman";
    src: url(./grunge/Bushman.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CrazyDaisy";
    src: url(./grunge/CrazyDaisy.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Device";
    src: url(./grunge/Device.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Everglades";
    src: url(./grunge/Everglades.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fingerpaint";
    src: url(./grunge/Fingerpaint.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gooseflesh";
    src: url(./grunge/Gooseflesh.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Grumble";
    src: url(./grunge/Grumble.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inkjet";
    src: url(./grunge/Inkjet.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Kidprint";
    src: url(./grunge/Kidprint.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LayoutGothic";
    src: url(./grunge/LayoutGothic.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Loveletter";
    src: url(./grunge/Loveletter.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MuddyWater";
    src: url(./grunge/MuddyWater.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NervousNellie";
    src: url(./grunge/NervousNellie.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ninja";
    src: url(./grunge/Ninja.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PelhamBold";
    src: url(./grunge/PelhamBold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Penciling";
    src: url(./grunge/Penciling.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RansomNoteReversedNormal";
    src: url(./grunge/RansomNoteReversedNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RumpledRoman";
    src: url(./grunge/RumpledRoman.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SweetheartNormal";
    src: url(./grunge/SweetheartNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Threadneedle";
    src: url(./grunge/Threadneedle.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "VersatileScript";
    src: url(./grunge/VersatileScript.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "WarehouseGothic";
    src: url(./grunge/WarehouseGothic.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Whirligig";
    src: url(./grunge/Whirligig.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}