@font-face {
    font-family: "Capitol";
    src: url(./morderne/Capitol.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Chesty";
    src: url(./morderne/Chesty.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cubist";
    src: url(./morderne/Cubist.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Dolmen";
    src: url(./morderne/Dolmen.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DolmenDecorated";
    src: url(./morderne/DolmenDecorated.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Greta";
    src: url(./morderne/Greta.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Groove";
    src: url(./morderne/Groove.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Leonard";
    src: url(./morderne/Leonard.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LesterBold";
    src: url(./morderne/LesterBold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "MinkGothic";
    src: url(./morderne/MinkGothic.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MitziDeco";
    src: url(./morderne/MitziDeco.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NeoPrisma";
    src: url(./morderne/NeoPrisma.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Oberlin";
    src: url(./morderne/Oberlin.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OrielModern";
    src: url(./morderne/OrielModern.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ParadiseNormal";
    src: url(./morderne/ParadiseNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Pistachio";
    src: url(./morderne/Pistachio.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Precise";
    src: url(./morderne/Precise.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RoundBlackNormal";
    src: url(./morderne/RoundBlackNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Stupendous";
    src: url(./morderne/Stupendous.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "StygianBlack";
    src: url(./morderne/StygianBlack.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "StygianBlackItalicNormal";
    src: url(./morderne/StygianBlackItalicNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "TickTock";
    src: url(./morderne/TickTock.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Tulipa";
    src: url(./morderne/Tulipa.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TwinkleToes";
    src: url(./morderne/TwinkleToes.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}