@font-face {
    font-family: "AdvertisersOutline";
    src: url(./outline/AdvertisersOutline.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BenFranklinOpen";
    src: url(./outline/BenFranklinOpen.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BoldSansOutline";
    src: url(./outline/BoldSansOutline.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CaravelleCondensedNormal";
    src: url(./outline/CaravelleCondensedNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CarolusOutline";
    src: url(./outline/CarolusOutline.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CircustimeOutline";
    src: url(./outline/CircustimeOutline.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ClarendonOutline";
    src: url(./outline/ClarendonOutline.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ColumnaOutline";
    src: url(./outline/ColumnaOutline.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CoolOutline";
    src: url(./outline/CoolOutline.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CooperBlackOutline";
    src: url(./outline/CooperBlackOutline.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DomCasualOutline";
    src: url(./outline/DomCasualOutline.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "EsquireOutline";
    src: url(./outline/EsquireOutline.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "EuropaOutlineNormal";
    src: url(./outline/EuropaOutlineNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FranklinGothicOutline";
    src: url(./outline/FranklinGothicOutline.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FuturamaOutlineNormal";
    src: url(./outline/FuturamaOutlineNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GrafitoOutline";
    src: url(./outline/GrafitoOutline.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HoboOutlineNormal";
    src: url(./outline/HoboOutlineNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OthelloOutline";
    src: url(./outline/OthelloOutline.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RomanaOutlineNormal";
    src: url(./outline/RomanaOutlineNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RothsteinOutlineNormal";
    src: url(./outline/RothsteinOutlineNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SpartanCondOutline";
    src: url(./outline/SpartanCondOutline.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SportsJerseyNormal";
    src: url(./outline/SportsJerseyNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "WhitinOutline";
    src: url(./outline/WhitinOutline.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "WindsorOutline";
    src: url(./outline/WindsorOutline.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}