@font-face {
    font-family: "AztecaCondensed";
    src: url(./special/AztecaCondensed.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Burst";
    src: url(./special/Burst.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Chinatown";
    src: url(./special/Chinatown.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ColonialDame";
    src: url(./special/ColonialDame.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Direction";
    src: url(./special/Direction.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fillet";
    src: url(./special/Fillet.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Firebug";
    src: url(./special/Firebug.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Headhunter";
    src: url(./special/Headhunter.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HollywoodLights";
    src: url(./special/HollywoodLights.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IglooSolidNormal";
    src: url(./special/IglooSolidNormal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Import";
    src: url(./special/Import.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lariat";
    src: url(./special/Lariat.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Needlepoint";
    src: url(./special/Needlepoint.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OldGlory";
    src: url(./special/OldGlory.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Protest";
    src: url(./special/Protest.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rustic";
    src: url(./special/Rustic.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Scimitar";
    src: url(./special/Scimitar.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Scoreboard";
    src: url(./special/Scoreboard.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Skyline";
    src: url(./special/Skyline.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Starburst";
    src: url(./special/Starburst.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Sundown";
    src: url(./special/Sundown.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Tableau";
    src: url(./special/Tableau.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Tonight";
    src: url(./special/Tonight.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Xerxes";
    src: url(./special/Xerxes.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}