@import url(../fantasy.css);

q::after {
    padding-left: 0.25rem;
}

html {
    background-color: white;
}

body {
    width: 1440px;
}

main {
    width: 1220px;
    margin: 0 auto;
}

header {
    width: 1220px;
    margin: 0 auto;
}

footer {
    width: 1220px;
    margin: 0 auto;
    border: none;
    text-align: center;
}

footer>div.footer {
    display: inline-block;
    padding: 0.5rem 2rem;
    max-width: 60%;
    border-top: 3px double darkblue;
}

article {
    margin: 1rem 1rem 2rem 1rem;
    padding: 1rem;
    border: 1px solid lightgray;
    box-shadow: 0.5rem 0.5rem 0.75rem dimgray;
    background-color: antiquewhite;
}

section {
    width: 90%;
    margin: 1rem auto;
    padding: 0 1rem;
    background-color: lightgoldenrodyellow;
    border: 1px solid lightgray;
    box-shadow: 0.25rem 0.25rem 0.5rem dimgray;
}