@import url(../main.css);

html {
    background-color: darkblue;
}

body {
    width: 1000px;
    margin: 1rem auto;
    padding: 1rem 2rem;
    background-color: whitesmoke;
}

footer {
    margin-top: 2rem;
    width: 100%;
    border-top: 3px solid silver;
    font-size: 150%;
}

p {
    text-indent: 2rem;
    line-height: 2rem;
}

pre.code {
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    line-height: 1.25rem;
    border: 1px dotted dimgray;
    background-color: black;
    color: lightgray;
    padding: 0.25rem 0.5rem;
    font-family: 'Fira Code', Inconsolata, Consolas, 'Source Code Pro', monospace;
    font-size: 80%;
    word-wrap: normal;
    white-space: pre;
    overflow: auto;
}

code {
    border: 1px solid lightgray;
    background-color: whitesmoke;
    color: darkred;
    padding: 0.25rem;
    font-family: Inconsolata, Consolas, 'Source Code Pro', monospace;
    font-size: 90%;
}

blockquote {
    background: lightcyan;
    border-top: 1px dotted steelblue;
    border-bottom: 1px dotted steelblue;
    border-left: 0.75rem solid steelblue;
    margin: 0.75rem;
    padding: 0.5rem;
}

figure {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px dotted dimgray;
}

figcaption {
    min-width: 20%;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 0.5rem;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

a {
    margin: 0 0.25rem;
    padding: 0.25rem;
    text-decoration: none;
    color: steelblue;
}

a::before {
    content: "\1F517";
    margin: 0 0.25rem 0 0;
}

a[href^="http://"]::before,
a[href^="https://"]::before {
    content: url(../RESOURCE/external-link.svg);
    margin: 0 0.25rem 0 0;
}

a:hover {
    background-color: darkblue;
    color: yellow;
}

figure a::before {
    content: none;
}

figure a:link {
    background-color: initial;
    color: initial;
}

figure a:visited {
    background-color: initial;
    color: initial;
}

figure a:hover {
    background-color: initial;
    color: initial;
}

figure a:active {
    background-color: initial;
    color: initial;
}

time, span.timestamp {
    font-size: 125%;
    font-family: 'Symbola', 'Fira Code', 'Source Serif Pro', 'Source Sans Pro';
    font-variant-numeric: oldstyle-nums;
    margin: 0 0.125rem;
    padding: 0.25rem;
}

time::before, span.timestamp::before {
    content: '［';
    margin: 0 0.125rem;
}

time::after, span.timestamp::after {
    content: '］';
    margin: 0 0.125rem;
}

div.comment {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid dimgray;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem 0.5rem dimgray;
}

div.comment-header {
    border-bottom: 1px dashed dimgray;
    min-height: 2rem;
}

div.comment-header span.timestamp {
    float: right;
}

div.comment-header span.author {
    margin-top: 1rem;
}

div.comment-content {
    clear: both;
}

blockquote span.author {
    padding: 0.5rem 0.25rem;
    border-bottom: 1px dashed dimgray;
}

h1 {
    padding: 1rem;
    background: radial-gradient(farthest-corner at 0 0, white, skyblue);
}

h2 {
    display: inline-block;
    padding: 0.5rem;
    border-bottom: 3px double dimgray;
}

h3 {
    display: inline-block;
    padding: 0.25rem;
    border-bottom: 2px solid dimgray;
}

h4 {
    display: inline-block;
    padding: 0.25rem;
    border-bottom: 2px dashed dimgray;
}

h5 {
    display: inline-block;
    padding: 0.25rem;
    border-bottom: 1px solid dimgray;
}

h6 {
    display: inline-block;
    padding: 0.25rem;
    border-bottom: 1px dashed dimgray;
}

span.tip {
    color: dimgray;
}

span.tip::before {
    content: '〔';
}

span.tip::after {
    content: '〕';
}

span.holy {
    margin: 0 0.5rem;
    padding: 0.5rem;
    text-indent: none;
    font-weight: bold;
    font-size: 1.25rem;
    background: radial-gradient(yellow, red);
    border-radius: 0.5rem;
}

