@import url(../main.css);
html {
    background-image: url(IMG/at_hupu_background.svg);
}

header.at_hupu {
    border-bottom: 1px solid lightgray;
}

header.at_hupu h1 {
    background: radial-gradient(farthest-corner at 0 0, transparent, goldenrod);
}

header.at_hupu h1::before {
    content: "虎扑扯淡";
}

header.at_hupu h2.original-title {
    color: darkgray;
    text-align: right;
}

header.at_hupu h2.original-title::after {
    content: "（原标题）";
    color: darkgoldenrod;
}

article.reply header.article::before {
    content: url(../IMG/icon_blue.svg);
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
}

article.reply::after {
    content: "故人心似中秋月，肯为狂夫照白头。";
    color: dimgray;
    margin: 0.5rem;
    padding: 0.5rem;
    border-top: 1px solid gray;
}